# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# Vector database
chroma_db/

# Local documents
data/documents/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/